.gioithieu image{
    width: 300px;
    height: 200px;
}
#header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
}
#header .active{
    top: -120px;
}
#nav {
    margin-top: 120px;
}